.left {
    width: 34.1%;
    min-height: 100vh;
    background-color: #980a2b;
    box-shadow: 0 2px 32px 12px rgba(0, 0, 0, 0.1);
     @media only screen and (max-width: 767.98px) {
        min-height: auto
    }
}
