.join_container {
    height: 675px;
    position: relative;
    background: url(../../../assests//images/joinus_bg.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-row {
        align-items: center;
    }
    .join_card {
        width: 540px;
        height: 354px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        h3 {
            font-size: 28px;
            color: #222B45;
            font-family: "Cairo-Bold";
            margin-bottom: 5px;
        }
        p {
            color: #7A7F8F;
            font-size: 16px;
            margin-bottom: 30px;
        }
        .apps_buttons {
            a {
                &:nth-of-type(1) {
                   margin-left: 30px; 
                }
                img {
                    width: 160px;
                    height: 50px;
                   
                }
            }
          
            
        }
    }
}