.welcome {
  position: relative;
  background: url(../../assests/images/header_bg.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // height: calc(100vh - 90px);
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 136px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ant-row {
    align-items: center;
    .custom_card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .content_container {
        h3 {
          color: #222b45;
          font-size: 30px;
          font-family: "Cairo-Bold";
        }
        p {
          color: #7a7f8f;
          font-size: 20px;
          margin-top: 5px;
          margin-bottom: 30px;
        }
      }

      .bottom_form {
        .next-button {
          color: #fff;
          display: inline-block;
          width: 350px;
          height: 50px;
          padding: 0;
          background: #25b28f;
          text-align: center;
          line-height: 50px;
          border-radius: 10px;
          font-size: 20px;
          font-family: "Cairo-bold";
        }
      }
    }

    .image_container {
      margin-right: -15px;
    }
  }
}

.english_version {
  .welcome {
    .custom_card {
      position: relative;
      z-index: 55;
      text-align: left;
      direction: ltr;
      padding-right: 0px;
      padding-left: 95px;
      .top_card {
        .ant-row {
          flex-direction: row;
        }
      }
    }
    .image_container {
      transform: scaleX(-1);
    }
  }
}
