.enter_phone {
  display: flex;
  width: 100%;
  .left {
    padding-top: 27.5vh;
    padding-left: 56px;
    img {
      width: 188px;
      height: 49px;
    }
    p {
      color: #fff;
      font-family: "Poppins-SemiBold";
      margin: 30px 0 0;
      font-size: 35px;
      letter-spacing: normal;
      font-weight: 600;
      padding-right: 132px;
      line-height: 40px;
    }
  }
  .right {
    padding-top: 27.5vh;
    padding-left: 146px;
    padding-bottom: 3vh;
    .PhoneInput {
      width: 384px;
      height: 56px;
      line-height: 56px;
      border: 1px solid #dadcdf;
      border-radius: 4px;
      margin-bottom: 20px;
      input {
        width: 384px;
        height: 50px;
        line-height: 56px;
        border: 0;
        &:focus {
          outline: none;
        }
      }
      .PhoneInputCountry {
        border: 0;
        margin: 13px 20px 20px 20px;
        height: 30px;
        border-right: 2px solid #dad8d8;
        padding-right: 19px;
      }
      .PhoneInputCountrySelectArrow {
        width: 7px;
        height: 7px;
        margin-left: 10px;
        margin-bottom: 2px;
      }
    }
    h4 {
      color: #000000;
      font-family: "Poppins-SemiBold";
      font-size: 32px;
      letter-spacing: 0;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 40px;
    }
    .powrd_by {
      margin-top: 0px;
      margin-bottom: 44px;
      img {
        width: 24px;
        height: 24px;
        margin: 0 2px 0 0;
      }
      span {
        margin: 4px 0 4px 2px;
        font-size: 11px;
        color: #198180;
      }
    }
    .enter_your_mobile {
      p {
        &:first-of-type {
          font-size: 14px;
          color: #000000;
          margin: 0;
          margin-bottom: 8px;
        }
      }
      .form-container {
        .ant-input-wrapper {
          width: 384px;
          height: 56px;
          line-height: 56px;
          border: 1px solid #dadcdf;
          border-radius: 4px;
          .ant-input-group-addon {
            border: none;
            background-color: #fff;
            .ant-select {
              width: 115px;
              background-color: #fff;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 27px;

                border: solid 1px #dad8d8;
                top: 0;
                right: 0;
                display: block;
              }
            }
          }
          .ant-input {
            width: 100%;
            height: 100%;
            border: none;
            &:focus {
              box-shadow: none;
            }
          }
          .ant-select-selection-item {
            img {
              width: 24px;
            }
          }
        }
        p {
          color: #5f6367;
          font-size: 16px;
          font-family: "Poppins-Medium";
          margin-bottom: 32px;
          margin-top: 0;
        }

        button {
          width: 348px;
          height: 48px;
          border-radius: 4px;
          box-shadow: 0 2px 24px 0 rgba(153, 34, 44, 0.32);
          background-color: #980a2b;
          font-size: 18px;
          color: #fff;
          font-family: "Poppins-Medium";
          touch-action: none !important;
          cursor: pointer;
          &:focus,
          &:hover {
            outline: none;
            border: none;
            padding: 0;
            transform: scale(1);
          }
        }
      }
      .terms {
        color: #5f6367;
        font-size: 14px;
        font-family: "Poppins-Medium";
        a {
          color: #000000;
          text-decoration: underline;
        }
      }
    }
  }
}
.ant-select-item-option-content {
  img {
    width: 24px;
  }
}
@media only screen and (max-width: 767.98px) {
  .enter_phone {
    flex-direction: column;
    .left {
      padding-top: 131px;
      width: 100%;
      height: 289px;
      padding-left: 0;
      text-align: center;
      p {
        font-size: 24px;
        padding-right: 0;
        margin-top: 16px;
      }
    }
    .right {
      width: 100%;
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 32px;
      padding-bottom: initial;
      .PhoneInput {
        width: auto !important;
      }
      h4 {
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 30px;
      }
      .powrd_by {
        margin-bottom: 24px;
      }
      .ant-form-item {
        margin-bottom: 8px !important;
      }
      .form-container {
        .ant-input-wrapper {
          width: 100% !important;
        }
        p {
          color: #6c6c6c !important;
          margin-bottom: 24px !important;
        }
        .next-button {
          width: 100% !important;
        }
      }
      .terms {
        color: #6c6c6c !important;
      }
    }
  }
}
