.app_explantion {
  height: 688px;
  background: #eef2f5;
  .header-section {
    font-size: 30px;
    font-family: "Cairo-Bold";
    color: #222b45;
    margin-bottom: 5px;
  }
  p {
    color: #7a7f8f;
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .card_container {
    padding: 15px;
    width: 350px;
    height: 179px;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 30px;
    color: #222B45;
    .card_header {
      span {
        width: 60px;
        height: 60px;
        display: inline-block;
        background: #7a7f8f;
        border-radius: 501%;
        text-align: center;
        line-height: 60px;
        margin-left: 15px;
        img {
          width: 30px;
          height: 30px;
        }
      }
      h3 {
        display: inline-block;
        font-family: "Cairo-Bold";
        font-size: 25px;
      }
     
    }
    p {
      
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}
.english_version {
  .card_header {
    direction: ltr;
    span {
      margin-left: 0px !important;
      margin-right: 15px;
    }
  }
}
.hide {
  display: none;
}
