.index_footer {
    line-height: 130px;
    background: #222B45;
    border-bottom: 2px solid #222B4580;
    border-top: 2px solid #222B4580;
    height: 130px;
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin-left: 30px;
            font-size: 15px;
            a{
                color: #EEF2F5;
                .logo_footer {
                    width: 65px;
                    height: 65px;
                }
            }
            .active {
                color: brown !important;
            }
            &:last-of-type {
                margin-left: 0;
            }
        }
        .logo_link {
            margin-left: 60px;
        }
    }
    .footer_icons {
        a{
            img {
                width: 40px;
                height: 40px;
            }
            margin-left: 20px;
        }
    }
    .ant-menu-horizontal {
        line-height: 130px;
        background: transparent;
        border: none;
      
        &:not(.ant-menu-dark) > .ant-menu-item:hover {
            border-bottom: none !important;
          }
        
          > {
            .ant-menu-item, .ant-menu-submenu {
              border-bottom: none !important;
            }
          }
          .ant-menu-item {
            a {
              font-size: 15px;
              color: #EEF2F5;
            }
            margin-right: 0px;
            margin-left: 30px;
            &:nth-of-type(6)  {
                margin-left: 0px !important;
            }
          }
          .logo_linkcontainer {
            margin-right: 0 !important;
            margin-left: 60px !important;
          }
        .logo_footer {
            width: 65px;
            height: 65px;
        }
    }
}